@import '../../styles';

.c-account-card {
  display: flex;
  gap: spacing(xsmall);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &_text {
    flex: 5;
    color: $g-colors-text-strong;
    font-size: rem(14px);
  }

  &_chains {
    display: flex;
    flex: 5;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &_right {
    flex: 1;
  }
}
