@import '../../styles';

.c-accordion {
  position: relative;

  &_item {
    &_handle {
      &--active {
        //
      }
    }

    &_content {
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.3s ease-in-out;

      &--active {
        //
      }
    }
  }
}
