@use 'sass:color';

@import '../../styles';

.c-button {
  padding: spacing(xsmall);
  border: 0.5px solid $g-colors-border;
  background-color: color.adjust($g-colors-white, $alpha: -0.5);
  box-shadow: $g-shadow-default;
  color: $g-colors-text-strong;
  cursor: pointer;
  font-size: rem(16px);
  font-weight: 600;
  text-align: left;

  &--block {
    display: block;
    width: 100%;
  }

  &--primary {
    border-radius: 2px;
    transition: background-color $g-transition-default;

    &:hover {
      background-color: color.adjust($g-colors-white, $lightness: -5%);
    }

    &:active {
      background-color: color.adjust($g-colors-white, $lightness: -10%);
    }
  }

  &--chip {
    padding: spacing(normal) spacing(4xlarge);
    border-radius: 999px;
    font-size: rem(14px);
    transition: background-color $g-transition-default;

    &:hover {
      background-color: color.adjust($g-colors-white, $lightness: -5%);
    }

    &:active {
      background-color: color.adjust($g-colors-white, $lightness: -10%);
    }
  }

  &--text {
    border: 0;
    background-color: transparent;
    box-shadow: none;
    font-size: rem(14px);
    font-weight: 700;
    transition: color $g-transition-default;

    &:hover {
      color: $g-colors-text-strong;
    }

    &:active {
      color: $g-colors-text;
    }
  }

  &_color {
    &--danger {
      color: $g-colors-error-text;
    }

    &--dark {
      background-color: $g-colors-text-strong;
      color: $g-colors-white;

      &:hover {
        background-color: color.adjust($g-colors-text-strong, $lightness: -5%);
        color: $g-colors-white;
      }

      &:active {
        background-color: color.adjust($g-colors-text-strong, $lightness: -10%);
      }
    }
  }
}
