@use 'sass:color';

@import '../../styles';

.c-my-snaap-page-layout {
  display: flex;
  flex: 1;
  flex-direction: column;

  &_top {
    flex: 0;
  }

  &_center {
    flex: 1;
  }

  &_bottom {
    flex: 0;
  }

  &_card {
    min-height: rem(420px);
    padding: spacing(normal);
    background-color: color.adjust($g-colors-white, $alpha: -0.25);

    &_title {
      margin-bottom: spacing(normal);
      color: $g-colors-text-strong;
      font-size: rem(20px);
      font-weight: 900;
    }
  }

  &_header {
    &_card {
      display: flex;
      gap: spacing(normal);
      flex-direction: row;
      padding: spacing(3xsmall);
      padding-left: spacing(normal);
    }

    &_networks {
      display: flex;
      gap: spacing(2xsmall);
      flex-direction: row;
      align-items: center;
    }

    &_add-button {
      @extend %button-clean;

      display: flex;
      width: rem(28px);
      height: rem(28px);
      align-items: center;
      justify-content: center;
      border: 1px solid $g-colors-border;
      background: $g-colors-white;
      border-radius: 999px;
      color: $g-colors-black;
    }
  }
}
