@use 'sass:color';
@import '../../styles';

.p-create-new {
  &_content {
    display: flex;
    flex-direction: column;
  }

  &_wallets {
    display: flex;
    gap: spacing(xsmall);
    flex-direction: column;
    margin-bottom: spacing(large);
  }
}
