@use 'sass:color';
@import '../../../styles';

/* stylelint-disable-next-line selector-class-pattern */
.p-networks_network-button {
  display: flex;
  align-items: center;
  padding: spacing(normal) spacing(medium);
  border: 0.5px solid $g-colors-border;
  background: color.adjust($g-colors-white, $alpha: -0.5);
  border-radius: 6px;
  box-shadow: $g-shadow-secondary;
  color: $g-colors-text-strong;
  font-size: rem(14px);

  /* stylelint-disable-next-line declaration-property-value-disallowed-list */
  transition: all $g-transition-default;

  &_left {
    display: flex;
    margin-right: spacing(medium);
  }

  &--disabled {
    cursor: default;
    opacity: 0.4;
  }

  &--active {
    border: 0;
    backdrop-filter: blur(rem(24px));
    background: $g-colors-text-strong;

    // prettier-ignore
    box-shadow:
      -3px -3px 9px rgba(95, 255, 245, 0.25),
      2px 4px 9px rgba(255, 32, 32, 0.25),
      -7px 2px 16px -4px #ffeca7;
    color: $g-colors-white;
  }
}
