@import '../../styles';

.p-landing {
  &_info {
    min-height: 0;
    padding: calc(var(--bs-gutter-y) * 0.5) calc(var(--bs-gutter-x) * 0.5);

    &_image {
      overflow: hidden;
      width: 100%;
      max-width: rem(400px);
      aspect-ratio: 1;
      border-radius: 2px;

      iframe {
        overflow: hidden;
        width: 100%;
        height: 100%;
        border: 0;
        object-fit: cover;
        outline: none;
      }
    }

    &_content {
      display: flex;
      width: 100%;
      gap: spacing(xlarge);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0 spacing(7xlarge);

      @media (max-width: 576px) {
        padding: 0 spacing(2xsmall);
      }

      &_title {
        font-size: rem(36px);
        font-weight: 900;
        text-align: center;

        // TODO: Use mixin or something to handle gradient
        background: -webkit-linear-gradient(#303642, #4c5878);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_register {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 2px;
        margin-top: spacing(2xlarge);
        border: 1px solid $g-colors-border;
        background-color: $g-colors-white;
        border-radius: 999px;

        input {
          height: 100%;
          flex: 1;
          padding: 0 spacing(xlarge);
          border: 0;
          border-bottom-left-radius: 999px;
          border-top-left-radius: 999px;
          font-size: rem(14px);
          font-weight: 700;
          outline: none;
        }

        button {
          padding: spacing(normal) spacing(xlarge);
        }
      }

      &_buttons-group {
        display: flex;
        gap: spacing(xsmall);
        flex-direction: column;
      }

      &_buttons {
        display: flex;
        gap: spacing(normal);
        flex-direction: row;
      }
    }

    &_open-snaaps-button {
      display: flex;
      width: 100%;
      gap: spacing(small);
      align-items: center;
      justify-content: center;
    }
  }

  &_networks-title {
    display: block;
    width: 100%;
    margin: spacing(large) 0 spacing(normal) 0;
    font-size: rem(16px);
    font-weight: 600;
    text-align: center;
  }

  &_networks {
    overflow: hidden;
    max-width: 100%;

    &_content {
      display: flex;
      gap: spacing(normal);
      flex-direction: row;

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
      }
    }
  }

  &_features {
    margin-top: spacing(2xlarge);

    &_card {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0;
    }

    &_title {
      margin: 0;
      color: $g-colors-text-dark;
      font-size: rem(18px);
      font-weight: 600;
      text-align: center;
    }

    &_content {
      display: flex;
      gap: spacing(normal);
      flex: 1;
      flex-direction: column;
      align-items: center;
      background: transparent;
      color: $g-colors-text-light;
      font-size: rem(13px);
      font-weight: 600;
    }
  }
}
