@import '../../styles';

.p-landing {
  &_info {
    display: flex;
    gap: spacing(normal);
    flex-direction: row;

    &_image {
      flex: 2;
      aspect-ratio: 1;
    }

    &_content {
      display: flex;
      flex: 3;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: spacing(xlarge) spacing(7xlarge);

      &_title {
        font-size: rem(36px);
        font-weight: 900;
        text-align: center;

        // TODO: Use mixin or something to handle gradient
        background: -webkit-linear-gradient(#303642, #4c5878);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &_buttons {
        display: flex;
        gap: spacing(normal);
        flex-direction: row;
      }
    }
  }

  &_networks-title {
    display: block;
    width: 100%;
    margin: spacing(large) 0 spacing(normal) 0;
    font-size: rem(16px);
    font-weight: 600;
    text-align: center;
  }

  &_networks {
    overflow: hidden;
    max-width: 100%;

    &_content {
      display: flex;
      gap: spacing(normal);
      flex-direction: row;

      > * {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: default;
      }
    }
  }

  &_features {
    display: flex;
    gap: spacing(normal);
    flex-direction: row;
    margin: spacing(2xlarge) 0;

    &_card {
      display: flex;
      flex: 1;
      flex-direction: column;
      padding: 0;
    }

    &_title {
      margin: 0;
      color: $g-colors-text-dark;
      font-size: rem(18px);
      font-weight: 600;
      text-align: center;
    }

    &_content {
      display: flex;
      gap: spacing(normal);
      flex: 1;
      flex-direction: column;
      align-items: center;
      background: transparent;
      color: $g-colors-text-light;
      font-size: rem(13px);
      font-weight: 600;
    }
  }
}
