@use 'sass:color';
@use 'sass:map';

@import '../../styles';

.c-input {
  display: flex;
  flex-direction: column;
  margin: spacing(2xsmall) 0;

  &_input {
    padding: spacing(xsmall);
    border: 0.5px solid $g-colors-border;
    background-color: color.adjust($g-colors-white, $alpha: -0.5);
    border-radius: 2px;
    box-shadow: $g-shadow-default;
    color: $g-colors-text-strong;
    font-size: rem(16px);
    font-weight: 600;
    text-align: left;
    transition: background-color $g-transition-default;

    &:hover {
      background-color: $g-colors-white;
    }
  }

  &_label {
    display: block;
    margin-bottom: spacing(4xsmall);
    color: $g-colors-text-strong;
    font-size: rem(15px);
    font-weight: 600;
  }

  &_error {
    display: block;
    margin-top: spacing(4xsmall);
    color: map.get(map.get($g-colors-status, error), dark);
    font-size: rem(14px);
    font-weight: 600;
  }

  &--error {
    $color: map.get(map.get($g-colors-status, error), light);

    background-color: color.adjust($color, $alpha: -0.5);
    border-color: $color;

    &:hover {
      background-color: color.adjust($color, $alpha: -0.2);
    }
  }
}
