@use 'sass:color';

@import '../../styles';

.c-surface {
  padding: spacing(normal) spacing(medium);
  border: 0.5px solid $g-colors-hr;
  background-color: color.adjust($g-colors-white, $alpha: -0.5);
  border-radius: 2px;
  box-shadow: $g-shadow-default;

  &--no-shadow {
    box-shadow: none;
  }

  &_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }
}
