@import '../../styles';

.c-page-layout {
  display: flex;
  flex: 1;
  flex-direction: column;

  &_top {
    flex: 0;
  }

  &_center {
    flex: 1;
  }

  &_bottom {
    flex: 0;
  }

  &_card {
    min-height: rem(420px);
  }
}
