@use 'sass:color';

@import '../../styles';

.c-page-layout {
  display: flex;
  flex: 1;
  flex-direction: column;

  &_top {
    flex: 0;
  }

  &_center {
    flex: 1;
  }

  &_bottom {
    flex: 0;
  }

  &_card {
    min-height: rem(420px);
    padding: spacing(xlarge);
    background-color: color.adjust($g-colors-white, $alpha: -0.25);

    &_title {
      margin-bottom: spacing(normal);
      color: $g-colors-text-strong;
      font-size: rem(20px);
      font-weight: 900;
    }
  }
}
