@use 'sass:color';
@import '../../styles';

.p-my-snaaps {
  &_content {
    display: flex;
    flex-direction: column;
  }

  &_wallets {
    display: flex;
    gap: spacing(xsmall);
    flex: 1;
    flex-direction: column;
    margin-bottom: spacing(large);
  }

  &_buttons {
    display: flex;
    gap: spacing(normal);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  &_no-accounts {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    &_content {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
